body { font: 1.1em/1.5em sans-serif; margin: 0; }
a { color: #060; text-decoration: none; }
address { font-style: normal; }
input:not([type=checkbox]), select { border: 1px solid #999; font-size: 1em; margin: 0 0 0.5em 0; padding: 0.25em; width: 100%; }

#site { display: grid; }

#site > header a { color: #000; display: inline-block; margin: 1em; }
#site > header a:hover { color: #333; }
#site > header h1 { display: inline-block; font: 1.5em/1.1em sans-serif; margin: 0; }
#site > header h1 em { display: block; font-style: normal; font-weight: 600; }
#site > header svg { height: 3em; margin: 0.2em 0.5em -0.2em 0; width: 3em; }
#site > header stop { stop-color: #060; }
#site > header nav { float: right; margin: 1em; }

#site #page p { width: 40em; }

#site > footer { border-top: 1px solid #CCC; padding: 1em; }
#site > footer a { color: #000; }
#site > footer nav#sitemap ul { list-style: none; padding: 0.5em 0; }
#site > footer nav#sitemap li { margin: 0.5em 0; }
#site > footer nav#sitemap > ul > li { float: left; margin: 0 2em 0 0; }
#site > footer nav#sitemap > ul > li > a:first-child { font-weight: 600; }
#site > footer div { clear: both; }

#page.search #query { background: #f7f7f7; border-right: 1px solid #ddd; float: left; width: 20em; }
#page.search #query fieldset { border: 0; margin: 1em; padding: 0; }
#page.search #query legend { font-weight: 600; } 
#page.search #query label { display: block; }
#page.search #query .controls input[type=submit] { background: #060; color: #fff; }
#page.search #query .range span { display: block; }
#page.search #results table { border-collapse: collapse; }
#page.search #results table th { background: #f7f7f7; padding: 0.75em 1em; text-align: left; }


